<!DOCTYPE html>
<html>
<head>
    <title>HTML Table Update</title>
</head>
<body>
    <h1>HTML Table Update</h1>
    <table id="myTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be dynamically added here -->
        </tbody>
    </table>

    <script>
        var source = new EventSource("/update_table");
        source.onmessage = function(event) {
            if (event.data === "finished") {
                source.close()
                return
            }
            console.log("EVENTO:", event.data)
            let person = JSON.parse(event.data)
            let row = `<tr><td>${person.name}</td><td>${person.age}</td></tr>`
            document.getElementById("myTable").getElementsByTagName("tbody")[0].innerHTML += row
        };
    </script>
</body>
</html>
